button{
    background-color: transparent;
    color: white;
  }
.footer, ion-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

ion-card-content{
    ion-list{
    background-color: #f1e7e7c2 !important;
    }
}
ion-input{

    background-color: #fcfcfcab !important;
}
