.footer{
    align-self: end;
}
.footer, ion-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
button{
    background-color: transparent;
    color: white;
  }
  ion-button{
    background-color: transparent;
    color: white; 
  }