<ion-header>
  <ion-toolbar>
    <ion-title>Hello Customer</ion-title>
    <ion-buttons slot="start">
      <button ion-button  icon-only (click)="goHome()">
        <ion-icon name="arrow-undo-outline" style="zoom:2.0;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label><ion-icon name="notifications-outline"></ion-icon>   Notifications</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="heart-outline"></ion-icon>   Wishlist</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="cart-outline"></ion-icon>    Shopping Cart</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="location-outline"></ion-icon>    My Orders</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="help-outline"></ion-icon>    Help</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="gift-outline"></ion-icon>    Gift Cards</ion-label>
    </ion-item>
  </ion-list>
  <!-- Default Searchbar -->
  <ion-footer class="footer">
  
    <ion-toolbar>
      <ion-buttons slot="start">
      <button ion-button  icon-only class="b1"(click)="gohome()">
        <ion-icon name="home-outline"  style="zoom:2.0;"></ion-icon>
      </button>
      </ion-buttons>
  
   
   
    
  <ion-buttons slot="end">
      <button ion-button  icon-only class="b3" (click)="gotoprofile()">
        <ion-icon name="person-outline" style="zoom:2.0;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>  
     
  </ion-footer>




</ion-content>
